<div class='article-wrap'>
  <div>
    <p class='article-category-list'>
      <% article.categories.each do |category| %>
        <span><%= link_to category.title, category_articles_path(category) %></span>
        <span><%= article.categories.last == category ? '' : '/' %></span>
      <% end %>
    </p>
    <h3 class='article-title'>
      <%= link_to article.title, article_path(article) %>
    </h3>
    <p><%= article.created_at.strftime('%d.%m.%Y') %></p>
  </div>
  <%= link_to article_path(article) do %>
    <%= image_tag article.main_image.thumb %>
  <% end %>
  <div class='article-truncated-description justify'>
    <%= article.preview_description %>
  </div>
  <div class='read-more-link-wrap'>
    <%= link_to I18n.t('articles.continue_reading'), article_path(article), class: 'read-more-link' %>
  </div>
  <%= render 'share_social', article: article %>
</div>
