<%= form_for([:admin, @albulm], :html => { :multipart => true }) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <%= f.fields_for :images do |p| %>
    <div class="field">
      <%= p.label :file %><br>
      <%= p.file_field :file, :multiple => true, name: "images[file][]" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
