<div class='container'>
  <div class='row links-to-category'>
    <div class='col-xs-6 col-sm-5ths'>
      <a href='#' class='decorate-link' data-show='all'>
        Показать все
      </a>
    </div>
    <% @categories.each do |category| %>
      <div class='col-xs-6 col-sm-5ths'>
        <a href='#' class='decorate-link' data-show="<%= category.english_title %>">
          <%= category.title %>
        </a>
      </div>
    <% end %>
  </div>
  <div class='row grid'>
    <% @albulms.each do |albulm| %>
      <div class="col-sm-4 col-xs-6 albulm-wrap grid-item <%= albulm.categories.map { |category| category.english_title }.join(' ') %> all">
        <%= link_to albulm_path(albulm) do %>
          <%= image_tag albulm.title_photo.thumb %>
          <div class='albulm-title-wrap non-visibility'>
            <h3>
              <span><%= albulm.title %></span>
            </h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
