<!DOCTYPE html>
<html>
  <head>
    <title>Lumina</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='wrap'>
      <div class='inner'>
        <header class='site-header'>
          <div class='site-header-main'>
            <div class='header-image'>
              <%= link_to root_path do %>
                <%= image_tag 'lumina_logo.png' %>
              <% end %>
            </div>
            <div class='site-header-menu'>
              <nav class='main-navigation'>
                <div class='menu-main-menu-container'>
                  <ul class='primary-menu'>
                    <li>
                      <a>Главная</a>
                    </li>
                    <li>
                      <a>О нас</a>
                    </li>
                    <li>
                      <a>Сервисы</a>
                    </li>
                    <li>
                      <a>Портфолио</a>
                    </li>
                    <li>
                      <a>Блог</a>
                    </li>
                    <li>
                      <a>Контакты</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </header>
        <div class='content'>
          <%= yield %>
        </div>
      </div>
      <footer class='site-footer'>
        <div class='footersocial'>
          <div class='social-widget-area'>
            <section class='widget widget_text'>
              <h2 class='widget-title'>Cледите за нами в Instagram</h2>
              <div class='textwidget'>
                <% @photos.each do |photo| %>
                  <%= link_to photo['link'], target: :_blank do %>
                    <%= image_tag photo['images']['thumbnail']['url'] %>
                  <% end %>
                <% end %>
              </div>
            </section>
          </div>
        </div>
        <nav class='social-navigation'>
          <div class='menu-social-media-container'>
            <ul class='social-links-menu'>
              <li>
                <%= link_to 'https://facebook.com/lu' do %>
                  <i class="fa fa-facebook fa-1x"></i>
                <% end %>
              </li>
              <li>
                <%= link_to 'https://www.instagram.com/lumina.decor/' do %>
                  <i class="fa fa-instagram fa-1x"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </nav>
      </footer>
    </div>
  </body>
</html>
